@font-face {
  font-family: 'Mont-Regular';
  font-style: normal;
  src: url('./Fonts/Mont-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Mont-SemiBold';
  font-style: normal;
  src: url('./Fonts/Mont-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mont-Bold';
  font-style: normal;
  src: url('./Fonts/Mont-Bold.ttf') format('truetype');
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Mont", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
